# =====================
# IDE
# =====================
.vscode/
.idea/
*.iml
*.iws

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Java / Maven
# =====================
target/
*.log

# =====================
# DATA - DO NOT COMMIT
# =====================
dataset/
storage/
etl_env/

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo

# =====================
# Secrets
# =====================
*.env
application-local.yml
